.wrapper-two {
    display: flex;
    width: 63%;
    margin: auto;
    justify-content: space-between;
}

@media screen and (max-width:1500px) {
    .wrapper-two {
        width: 80%;
    }
}

@media screen and (max-width:1045px) {
    .wrapper-two {
        flex-wrap: wrap;
        gap: 20px;

        .width-adjustment {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 48%;
        }
    }
}

@media screen and (max-width:623px) {
    .wrapper-two {
        .width-adjustment {
            width: 100%;
            justify-content: center;
        }
    }
}