.wrapper-one {
	background: #2e2e54;

	.query-img-one {
		display: none;
	}
}

.footer-one-container {
	display: flex;
	justify-content: space-between;
	padding: 22px 0 30px;
	color: #fff;
	width: 63%;
	margin: auto;

	.container-one {
		.customercare {
			margin-top: 0;
			line-height: 18px;
		}
	}

	.links {
		display: flex;
		flex-direction: column;

		a {
			color: #fff;
			text-decoration: none;
			font-size: small;
		}

		.make-money {
			margin-bottom: 6px;
		}
	}

	.container-two {
		margin-top: 28px;
	}

	.container-three {
		.upper {
			display: flex;
			align-items: flex-end;
			gap: 20px;

			.qrimg {
				width: 100px;

				.qrimg1 {
					width: 100%;
					border-radius: 10px;
				}
			}

			.daraz-icon {
				.text {
					margin-top: 0;
					margin-bottom: 0;
					color: #f57224;
				}

				.download-app {
					margin: 0;
				}

				.daraz-img-container {
					height: 42px;
					width: 42px;

					.img {
						width: 100%;
					}
				}
			}
		}

		.lower {
			img {
				margin-top: 25px;
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width:1500px) {
	.footer-one-container {
		width: 80%;
	}
}

@media screen and (max-width:1182px) {
	.wrapper-one {
		.query-img-one {

			display: flex;
			justify-content: center;
			padding-bottom: 22px;

		}

		.container-three {
			.lower {
				.daraz-app {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width:942px) {
	.wrapper-one {
		.footer-one-container {
			padding: 15px;
			width: 96%;
			font-size: xx-small;

			.container-three {
				padding-right: 25px;
			}
		}
	}

}

@media screen and (max-width:942px) {
	.wrapper-one {

		.footer-one-container {

			padding: 15px;
			width: 96%;
			font-size: xx-small;
			flex-wrap: wrap;
			justify-content: center;

			.container-one {
				width: 50%;
				margin-bottom: 10px;
			}

			.container-two {
				width: 50%;
				margin-bottom: 10px;
				margin-top: 0;

				h3 {
					margin-top: 0;

				}
			}
		}
	}
}

@media screen and (max-width:422px) {
	.wrapper-one {
		.footer-one-container {
			padding: 6px;}
		.query-img-one {
			.daraz-app {
				width: 57%;
			}
		}
	}
}

@media screen and (max-width:374px) {
	.wrapper-one {

		.footer-one-container {
			padding: 6px;
			.container-one {
				width: 100%;
			}

			.container-two {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width:322px) {
	.wrapper-one {

		.footer-one-container {
			width: 82%;
		}
	}
}