.wrapper-forget-password {
    background-color: rgba(156, 155, 155, 0.2);

    .width-adjust {
        width: 58%;
        margin: auto;
        padding-bottom: 30px;
    }

    .container-one {
        padding-top: 6px;

        .forget-your-password {
            font-size: 22px;
            color: #424242;
            font-weight: 400;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    .container-two {
        background-color: white;
        padding: 25px 50px 50px 25px;

        .input-container {
            .text {
                font-size: 14px;
            }

            .down-side {
                display: flex;
                flex-direction: column;
                gap: 9px;
                width: 344px;

                label {
                    font-size: 12px;
                    line-height: 15px;
                    color: #424242;
                    padding-top: 18px;
                }

                input {
                    border: 1px solid #ddd;
                    font-size: 12px;
                    height: 40px;
                    padding: 0 18px;

                    &:active {
                        background-color: #0caa82;
                    }

                }

                input:focus-visible {
                    border: 1px solid rgb(8, 209, 145);
                    outline: none;
                }

                .button {
                    padding: 6px 0;
                    color: #0caa82;
                    background-color: #1cdaaa;
                    border: 1px solid #ddd;

                    &:hover {
                        background-color: #0caa82;
                        color: #04ffc0;
                        font-size: large;
                    }

                    &:active {
                        background-color: #0caa82;
                        box-shadow: 2px 2px #078473;
                        transform: translateY(4px);
                    }

                }

                .go-back {
                    text-decoration: none;
                    color: #1a9cb7;
                    font-size: 12px;
                    width: 47px;
                }
            }
        }
    }
}

@media screen and (max-width: 2685px) and (min-width: 1448px) {
    .wrapper-forget-password {

        .container-two {
            .input-container {
                .text {
                    font-size: 21px;
                    font-weight: 600;
                }

                .down-side {
                    gap: 17px;
                    width: 493px;

                    label {
                        font-size: 26px;
                        line-height: 20px;
                    }

                    input {
                        font-size: 15px;
                    }

                    .button {
                        font-size: 23px;
                    }

                    .go-back {
                        font-size: 16px;
                        width: 59px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 979px) {
    .wrapper-forget-password {
        .width-adjust {
            width: 89%;
        }
    }
}

@media screen and (max-width: 639px) {
    .wrapper-forget-password {

        .container-two {
            .input-container {
                .text {
                    font-size: 11px;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (max-width: 533px) {
    .wrapper-forget-password {

        .container-two {
            .input-container {
                .text {
                    font-size: 8.8px;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (max-width: 533px) {
    .wrapper-forget-password {

        .container-two {
            .input-container {
                .text {
                    font-size: 7px;
                }

                .down-side {
                    width: 207px;

                    input {
                        font-size: 7px;
                        padding: 0 8px;
                        height: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 372px) {
    .wrapper-forget-password {

        .container-two {
            .input-container {
                .text {
                    font-size: 5px;
                }

                .down-side {
                    width: 151px;

                    input {
                        font-size: 6px;
                        padding: 0 3px;
                        height: 21px;
                    }
                }
            }
        }
    }
}