.header-top-wrapper {
  background-color: rgba(158, 158, 158, .2);

  .list-container {
    display: flex;
    justify-content: flex-end;
    gap: 36px;
    width: 62%;
    margin: auto;
    padding: 0 14px;

    .save-more {
      color: #f85606;
    }

    .list {
      list-style: none;
      font-size: 12px;
      cursor: pointer;
      margin-top: 4px;
      margin-bottom: 7px;

      .login {
        text-decoration: none;
        color: black;
      }
      .signup {
        text-decoration: none;
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1722px) {
  .header-top-wrapper {
    .list-container {
      .list {
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .header-top-wrapper {
    .list-container {
      width: 80%;

      .list {
        font-size: 9px;
      }
    }
  }
}

@media screen and (max-width: 1192px) {
  .header-top-wrapper {
    .list-container {
      width: 85%;

      .list {
        font-size: 8px;
      }
    }
  }
}

@media screen and (max-width: 986px) {
  .header-top-wrapper {
    .list-container {

      width: 85%;
      gap: 27px;
    }
  }
}

@media screen and (max-width: 770px) {
  .header-top-wrapper {
    .list-container {
      width: 90%;
      gap: 20px;

      .list {
        font-size: 7px;
      }
    }
  }
}

@media screen and (max-width: 602px) {
  .header-top-wrapper {
    .list-container {
      gap: 20px;

      .list {
        font-size: 6px;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .header-top-wrapper {
    .list-container {
      gap: 16px;

      .list {
        font-size: 5px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .header-top-wrapper {
    .list-container {
      gap: 6px;

    }
  }
}