.wrapper-three {
    background-color: rgb(240, 240, 240);
    padding: 22px 0 30px;

    .main-container {
        display: flex;
        width: 63%;
        margin: auto;
        gap: 20px;
        flex-wrap: wrap;

        .width-adjust {
            width: calc((100% - 60px)/4);
        }
    }
}

@media screen and (max-width:1500px) {
    .wrapper-three {
        .main-container {
            width: 80%;
        }
    }
}

@media screen and (max-width:1045px) {
    .wrapper-three {
        p {
            font-size: xx-small;
        }
    }
}

@media screen and (max-width:768px) {
    .wrapper-three {
        .main-container {
            gap: 5px;
            width: 96%;

            .width-adjust {
                width: calc((100% - 15px)/4);
            }
        }
    }
}